body {
    background-image: url("img/9c662f57882bbd6353ffe55f534c130d\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Noto Serif', serif;
}











h1 {
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(227, 101, 156) 0%, rgb(201, 90, 187) 38%, rgba(221, 160, 199, 0.852) 100%);

}

.contenitore {
    border: solid 3px fuchsia;
}