/* IMPOSTAZIONI GENERALI */
body {
    margin: 17px;
    background-image: url(../img/sfondo.png);
    font-family: 'Poppins', sans-serif;
    line-height: 1.4rem;
}

/* HEADER */
.header{
    background-color: cadetblue;
}

.logo {
    margin-left: 35%;
    margin-right: 25%;
}

.menu{
    text-align: center;
}

.menu p{
    color: white;
}

.icone-menu{
    color: white;
}


/*  Header link */
a:hover {
    color: white;
    background-color: fuchsia;
}

/* MAIN */


.main h1 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 40px;
    margin-bottom: 20px
}

.main ul {
  list-style: square;
  padding-left: 30px;
  
}

main {
    background-color: #ffffff;
    margin: 20px;
    border: 1px;
    box-shadow: 2px 2px 3px 1px #343434;
    padding: 10px;
}

span{
    color: #FF00FE;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
caption {
    font-style: italic;
    font-weight: 600;
    padding-top: 1rem;
}

table {
    margin-bottom: 2rem;
}

table, th, td {
    text-align: center;
    padding: 0.5rem;
}

th {
    border: 0.5px solid #a7c0da;
}

thead {
    background-color: #3769CC;
    color: #FFFFFF;
}

tbody {
    border-bottom: 1px solid #3769CC;
}



/* aside  */

/* form */

.novità{
    background-color: darkgrey;
    margin-bottom: 15px;
}

h2{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 40px;
    margin-bottom: 20px
}



/* articoli */

.articoli{
    background-color: darkgrey;
    margin-bottom: 15px;
}

.articoli a:link {
    text-decoration: underline;
    color: blue;
}



/* FOOTER */
footer {
    background-color: #0995b6;
    margin: 10px;
    border: 1px;
}

footer a:link {
    text-decoration: underline;
    color: #FF00FE;
}