@import 'variables';
@import 'buttons';

body {
    background-color: $color;
}

.header1 {
    nav {
        display: flex;

        justify-content: space-between;

        p {
            font-size: 50px;
        }

        ul {
            display: flex;

            li {
                padding: 50px;
                color: $color1;
                list-style: none;

                &:hover {
                    transform: scale(1.5);
                    color: pink;
                }
            }
        }
    }

}


// main 

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .paragrafi{
        padding: 20px;
    }
   

    #btn1 {
        background-color: #316af6;
    }

    #btn2 {
        background-color: #ef8d34;
    }

}