
@mixin layouts {
    @if $layout == light {
        background-color: $bg-light;
        color: $tc-light;
    }

    @if $layout == dark {
        background-color: $bg-dark;
        color: $tc-dark;
    }
}

body {
    @include layouts;
}