 body{
    font-family: 'Signika', sans-serif;;
 }
/* header */
.header{
    text-align: center;
}

#header-p{
    text-align: center;
    color: rgb(16, 137, 141);
    font-size: large;
    border-style:solid; 
    border-color: rgb(255, 255, 166); 
    background-color: rgba(247, 247, 114, 0.11);
    border-width: 3px 0px;

}
/* Main */
.main{
    text-align: center;
}

.main-p{
 text-align: left;
 color:  orange;
 border-style:solid; 
 border-color: orange; 
 border-width: 0px 3px;
 
}


h1, h2{
    font-weight: bold;
    color: rgb(194, 35, 35);
   
}

