body{
    background-color: #e8a3e2b2;
}


 h1, h3{
  font-size: bold;
  color: darkviolet;
}


#contenitore {
margin: 20px auto;
}

#text {
border: 5px solid fuchsia;

}

#salva{
    border: 5px solid purple;
  
}